.feedsWidget {
    background: var(--color-background);
    color: var(--color-text);
    padding: 10px;
}

.feedsWidget ul {
    display: grid;
    grid-gap: 20px;
    width: 100%;
    line-height: 1.5;
}
