.feedsWidget {
    background: var(--color-background);
    color: var(--color-text);
    padding: 10px;
    height: 100vh;
    overflow-y: auto;
}

.feedsWidget::-webkit-scrollbar {
    width: 10px;
}

.feedsWidget::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

.feedsWidget::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
}

.feedsWidget::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}

.feedsWidget ul {
    display: grid;
    grid-gap: 20px;
    width: 100%;
    line-height: 1.5;
}
