@font-face {
  font-family: "iawriter-mono";
  src: url("/iAWriterMonoS-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "iawriter-mono";
  font-weight: bold;
  src: url("/iAWriterMonoS-Bold.woff2") format("woff2");
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  background: #fff;
}

@media (prefers-color-scheme: dark) {
  .system, .dark {
    --color-background: #191919;
    --color-text: #EEEEEE;
    --color-text-reverse: #19191A;
    --color-border: #575C5D;
    --color-error: salmon;
    --color-accent: rgb(255, 255, 255);
    --scrollbar-track: #202020;
    --scrollbar-thumb: #474C50;
    --scrollbar-thumb-hover: #545555;
  }

  .light {
    --color-background: #fff;
    --color-text: #3F3C36;
    --color-text-reverse: #EEEEEE;
    --color-border: #E3E3E2;
    --color-error: crimson;
    --color-accent: #191919;
    --scrollbar-track: #EDECE9;
    --scrollbar-thumb: #D3D1CB;
    --scrollbar-thumb-hover: #AEACA6;
  }
}

@media (prefers-color-scheme: light) {
  .system, .light {
    --color-background: #fff;
    --color-text: #3F3C36;
    --color-text-reverse: #EEEEEE;
    --color-border: #E3E3E2;
    --color-error: crimson;
    --color-accent: #191919;
    --scrollbar-track: #EDECE9;
    --scrollbar-thumb: #D3D1CB;
    --scrollbar-thumb-hover: #AEACA6;
  }

  .dark {
    --color-background: #191919;
    --color-text: #EEEEEE;
    --color-text-reverse: #19191A;
    --color-border: #575C5D;
    --color-error: salmon;
    --color-accent: rgb(255, 255, 255);
    --scrollbar-thumb: #474C50;
    --scrollbar-thumb-hover: #545555;
  }
}

.mono {
   font-family: iawriter-mono, Nitti, Menlo, Courier, monospace;
 }

.serif {
  font-family: Lyon-Text, Georgia, YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "Songti TC", "Songti SC", "SimSun", "Nanum Myeongjo", NanumMyeongjo, Batang, serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
