@font-face {
  font-family: "iawriter-mono";
  src: url("/iAWriterMonoS-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "iawriter-mono";
  font-weight: bold;
  src: url("/iAWriterMonoS-Bold.woff2") format("woff2");
}

html,
body {
  padding: 10px;
  margin: 0;
  font-family: iawriter-mono, monospace;
  background: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
