.container {
    text-align: center;
}

.refreshButton {
    transition: all .2s ease;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    margin-bottom: 20px;
    border: 5px solid transparent;
    background: var(--color-accent);
    color: var(--color-text-reverse);
    padding: 10px 20px;
    border-radius: 5px;
    transform: scale(1);
}

.refreshButton:hover {
    transform: scale(1.1);
    border-color: rgba(0, 0, 0, .5);
}