.container {
    text-align: right;
}

.refreshButton {
    transition: border .2s ease, transform .2s ease;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    margin-bottom: 20px;
    border: 3px solid transparent;
    background: var(--color-accent);
    color: var(--color-text-reverse);
    padding: 5px 15px;
    border-radius: 5px;
    transform: scale(1);
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

.refreshButton:hover {
    transform: scale(1.05);
    border-color: rgba(0, 0, 0, .5);
}